mixin footer()
    +b.footer
        .container
            +e.inner
                +e.item
                    +e.item-addres
                        SPAN ul. Głogowska 10
                        SPAN 61-719 Poznań
                        A(href="tel:61 27 11 000") 61 27 11 000
                    +e.map(id="map")
                +e.item
                    +e.SPAN.item-title O nas
                    +e.UL.item-list
                        LI
                            A(href="#") Dlaczego CDV
                        LI
                            A(href="#") Kadra naukowa
                        LI
                            A(href="#") Dla mediów
                        LI
                            A(href="#") Kontakt
                +e.item
                    +e.SPAN.item-title Dla kandydata
                    +e.UL.item-list
                        LI
                            A(href="#") Poradnik maturzysty
                        LI
                            A(href="#") Rekrutacja
                        LI
                            A(href="#") Kredyt studencki
                        LI
                            A(href="#") Studia dla cudzoziemców
                +e.item
                    +e.SPAN.item-title Dla studenta
                    +e.UL.item-list
                        LI
                            A(href="#") Wirtualna Uczelnia
                        LI
                            A(href="#") Stypendia
                        LI
                            A(href="#") Biuro Karier
                        LI
                            A(href="#") Studiuj dalej
                +e.item
                    +e.SPAN.item-title Dla biznesu
                    +e.UL.item-list
                        LI
                            A(href="#") Współpraca z biznesem
                        LI
                            A(href="#") EmotionsLAB
                        LI
                            A(href="#") Wynajem sal
                        LI
                            A(href="#") Znajdź pracownika
                +e.item
                    +e.SPAN.item-title Na skróty
                    +e.UL.item-list
                        LI
                            A(href="#") Aktualności
                        LI
                            A(href="#") Wydarzenia
                        LI
                            A(href="#") Konferencje
                        LI
                            A(href="#") Blog
            +e.SPAN.copy Projekt i realizacja: Crafton