mixin loader(mod)
    .loader
        .loader__spinner
            svg(width='54' height='59' viewbox='0 0 54 59' fill='none' xmlns='http://www.w3.org/2000/svg')
                PATH.loader__path(fill-rule='evenodd' clip-rule='evenodd' d='M4.24249 26.4315C5.49387 27.164 6.88259 27.5303 8.2408 27.5761L23.4252 27.599L15.8788 14.4442C15.1615 13.2996 14.1467 12.3001 12.9182 11.5904C8.80545 9.23266 3.55575 10.6214 1.17508 14.7036C-1.21323 18.8164 0.152607 24.0737 4.24249 26.4315Z' fill='#004B96')
                PATH.loader__path(fill-rule='evenodd' clip-rule='evenodd' d='M18.0382 8.52312C18.0382 9.97289 18.4045 11.3311 18.9691 12.5443L26.6071 25.6991L34.2604 12.613C34.8861 11.4227 35.2523 10.0645 35.2523 8.61469C35.2828 3.85334 31.4066 0 26.6682 0C21.9144 0 18.0382 3.78466 18.0382 8.52312Z' fill='#004B96')
                PATH.loader__path(fill-rule='evenodd' clip-rule='evenodd' d='M40.3418 11.5751C39.0904 12.2924 38.0908 13.3072 37.3812 14.4518L29.7661 27.6065L44.8819 27.6523V27.6218C46.2477 27.576 47.6288 27.2098 48.8802 26.4772C52.9701 24.1195 54.3741 18.8621 52.0392 14.757C49.6814 10.6442 44.4469 9.23261 40.3418 11.5751Z' fill='#004B96')
                PATH.loader__path(fill-rule='evenodd' clip-rule='evenodd' d='M48.9717 32.2918C47.7203 31.5593 46.3545 31.1854 44.9886 31.1472H45.0115H29.85L37.3583 44.3172C38.0679 45.4389 39.0675 46.4385 40.3188 47.1481C44.4316 49.5059 49.666 48.1019 52.062 44.012C54.4427 39.9298 53.0616 34.6496 48.9717 32.2918Z' fill='#004B96')
                PATH.loader__path(fill-rule='evenodd' clip-rule='evenodd' d='M35.1302 50.2004C35.1302 48.7506 34.7639 47.3924 34.1382 46.1792V46.2021L26.5918 33.0549L18.9767 46.141V46.1181C18.3739 47.3085 17.9847 48.6896 17.9847 50.1164C17.9847 54.8549 21.7923 58.7006 26.5308 58.7235C31.2768 58.7464 35.1073 54.9159 35.1302 50.2004Z' fill='#004B96')
                PATH.loader__path(fill-rule='evenodd' clip-rule='evenodd' d='M12.8953 47.1328C14.1466 46.4232 15.1691 45.4236 15.8787 44.279L23.4939 31.17L8.37809 31.1243C7.03514 31.17 5.63115 31.5134 4.37214 32.2459C0.282265 34.6037 -1.12172 39.861 1.21317 43.9662C3.57095 48.0789 8.80539 49.4906 12.8953 47.1328Z' fill='#004B96')
